



<div class="wrapper text-center">
  <div class="container">
    <h2> Get coached! </h2>

    <form action="/answer" method="get">
      <input type="text" name="query" placeholder="Ask a question mate">
      <input type="submit">
    </form>

  </div>
</div>



