// Place all the styles related to the coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #000000;
}

.back a {
  color: white;
  text-decoration: none;
  &:hover {
    color: yellow;
    text-decoration: none;
  }
}
.wrapper {
  background-color: #000000;
  height: 100vh;
  padding-top: 30px;
}


.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  margin: 0 auto;
  width: 40%;
  color: white;
  margin-bottom: 20px;
  border-radius: 4px;
}

.card-category {
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 10px;
}
.card-description {
  margin-top: 50px

}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
